.selectedPage {
    font-weight: bold;
}

.mainContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.allCharacters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.characterBlock {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filters {
    display: inline-block
}
.filter {
    margin: 10px 20px;
}
.img {
    border: 2px solid;
    border-radius: 5px;
}