
.episodes {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90%;
}
.header {
    font-weight: bold;
    font-size: large;
    text-align: center;

}

.searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.searchForm {
    margin: 8px;
    min-width: 120px;
}


th, td {
    padding: 10px;
}
tbody:nth-child(even) {
    background-color: rgb(150 202 22);
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
}

