

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: black;
    opacity: 0.3;
    z-index: 20;
}

.window {
    width: 600px;
    height: auto;
    background-color: rgb(102, 157, 231);;
    border: darkviolet 2px solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 21;
    bottom: auto;
    right: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}



.backAndWindow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.img {
    border-radius: 50%;
    border: darkviolet solid 2px;
}