.header{
    grid-area: h;
    background-color: rgb(102, 157, 231);
    width: 100%;
}
.header img {
    max-width: 30px;
}

.nav {
    grid-area: n;
    background-color: rgb(72, 46, 222);
    padding: 15px;
}

.item a {
    color: rgb(63, 51, 65);
    text-decoration: none;
}

.item a.active {
    color: rgb(205, 67, 238);
}
